[submodule "vagrant/core"]
	path = vagrant/core
	url = git@github.com:varlogerr/vagrant.core.git
[submodule "vagrant/provisioner-installers"]
	path = vagrant/provisioner-installers
	url = git@github.com:varlogerr/provisioner-installers.git
